@media print {
    .blueOnPrint {
        color: darkblue !important;
    }

    .balckOnPrint {
        color: black !important;
    }

    .back_color {
        background-color: lightgray !important;
    }
}

.blueOnPrint {
    color: darkblue !important;
}

.balckOnPrint {
    color: black !important;
}

.report-center {
    text-align: center !important;
    vertical-align: inherit !important;
}

.back_color {
    background-color: lightgray !important;
}